* {
  font-family: 'Jetbrains Mono', monospace;
}

body {
  margin: 0 !important;
  display: flex;
}

.final-round-game {
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  z-index: -1;
  justify-content: center;
  text-align: center;
  display: flex;
}

.page-content {
  position: absolute;
  top: 50px;
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page-title {
  font-size: 7rem;
  color: white;
  font-weight: 700;
  filter: drop-shadow(4px 4px 10px red);
}

.red-button {
  background-color: red;
  color: white;
  border: none;
  padding: 20px 40px;
  display: flex;
  font-size: 2em;
  width: 300px;
  height: 100px;
  font-size: 2.5rem;
  border-radius: 100px;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.red-button:active {
  transform: scale(0.95);
}

.timer-display {
  margin-top: 20px;
  position: relative;
  z-index: 999;
  font-size: 2rem;
  font-weight: 600;
  color: #ffffffd8;
}

.final-result {
  margin-top: 20px;
  position: relative;
  z-index: 999;
  font-size: 2rem;
  font-weight: 600;
  color: #ffffffdd;
  filter: drop-shadow(4px 4px 10px white);
}
